.main-board {
  background-color: #c4c4c4;

  padding: 200px 0 200px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-board.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.board-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--normal-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
}
