.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__logo {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: fill var(--ms-transition), border-color var(--ms-transition);
  transition-timing-function: var(--transition-effect);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.clients__icon {
  fill: #afb1b8;
  transition: fill var(--ms-transition);
  transition-timing-function: var(--transition-effect);
  .clients__logo:hover &,
  .clients__logo:focus & {
    fill: var(--accent-color);
  }
}
