.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-bgd-color;
}

.footer-box {
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: $desktop) {
    justify-content: stretch;

    text-align: left;
  }
}
