.clients__list {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 2 * 15px) / 2);
  }

  @media screen and (min-width: $tablet) {
    width: 226px;
  }

  @media screen and (min-width: $desktop) {
    width: 170px;
  }
}

.clients__link {
  @extend %link;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;

  border-radius: 4px;
  border: 1px solid $main-icon-color;
  fill: $main-icon-color;

  transition: fill $animation-duration $animation-function,
    border-color $animation-duration $animation-function;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
