.team-card {
  @extend %list;

  line-height: 1.19;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.team-card__item {
  text-align: center;

  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $main-bgd-color;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: calc((100% - 2 * 15px) / 2);
  }
}

.team-card__box {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.team-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
}

.team-card__text {
  margin-bottom: 16px;

  font-size: 16px;

  color: $primary-color;
}
