$main-color: #212121;
$primary-color: #757575;
$secondary-color: #ffffff;
$accent-color: #2196f3;
$accent-color-2: #000000;
$main-bgd-color: #ffffff;
$secondary-bgd-color: #f5f4fa;
$footer-bgd-color: #2f303a;
$btn-hover-color: #188ce8;
$main-icon-color: #afb1b8;
$main-font: Roboto, sans-serif;
$accent-font: Raleway, sans-serif;
$animation-duration: 250ms;
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);
